@import url('https://fonts.cdnfonts.com/css/lama-sans');

body {
    /* background: linear-gradient(270deg, #10284D 0%, #A76BED 101.35%) !important; */
    background-color: #100123 !important;
    color: #fff !important;

}

.nav {
    font-family: 'Lama Sans', sans-serif !important;
}

#navigation-menu {
    background: linear-gradient(270deg, #10284D 0%, #A76BED 101.35%) !important;
}

.alert .hstack {
    justify-content: end !important;
    color: #fff !important;
}

.alert-primary .alert-link, .footer-marketing-link, .gradient-link, .nav-link {
    color: #cdacf3 !important;
}

.nav .nav-item .nav-link {
    color: #fff !important;
}

a .card, .swiper-container .card {
    background: rgba(255, 255, 255, 0.35) !important;
    backdrop-filter: blur(4px) !important;
}

.js-card-top {
    padding: 4px;
    border-radius: 3px !important;
}

.js-card-top .position-relative {
    border-radius: 3px !important;
}

.card .card-title {
    color: #fff !important;
}

footer {
    background-color: #170231 !important;
}

footer .text-body {
    --bs-text-opacity: 1;
    color: #fff !important;
  }

footer .text-body-secondary {
    --bs-text-opacity: 1;
    color: rgb(158, 130, 191) !important;
}

footer .nav .nav-item .nav-link {
    color: rgb(158, 130, 191) !important;
}