/* TAKWEN custom CSS styles below */ 
.store-notify{
background: #169b59 !important;
color : #fff !important;
}
.store-notify p{
  color : #fff !important;
}
.store-notify #notify-close i{
color: #fff !important;
}
.site-header{
padding: 20px !important;
}
.site-header.sticky{
box-shadow: 0 1px 10px 2px rgba(0,0,0,.05)!important;
}
.circle-action:hover {
  background: #169b59 !important;
  border:none !important;
}
.site-header__cart .badge {
  background: #169b59 !important;
}
.offers-link, .price-after {
  color: #169b59 !important;
}
.u-light {
  background-color: #fff !important;
  
}
.main-menu a{
color: #636362 !important;
}

.sub-nav{
border: 1px dashed #dedede !important;
}
