/* TAKWEN custom CSS styles below */ 
.store-notify{
background: #0a4e41 !important;
color : #fff!important;
}
.store-notify p{
  color : #fff!important;
}
.store-notify #notify-close i{
color: #fff!important;
}
.site-header{
padding: 20px!important;
border-bottom: 2px dashed #0a4e4166!important;
}
