.gradient{
  background: #FFF;
}
.footer {
  background-color: #070707;
}
.footer__content-top{
  padding-top:0;
  padding-bottom: 0;
}
.footer-block grid__item::nth-child{
 order:5; 
 display:none;
}  
.footer-block grid__item::nth-child{
 order:4; 
}
.footer-block grid__item::nth-child(3){
 order:3; 
 display:none;
}
.footer-block grid__item::nth-child(4){
 order:2; 
}
.footer-block grid__item::nth-child(5){
 order:1; 
}
.footer-block__heading{
 text-align: right;
}
