/* Arabic  RTL*/

/* Header */
.rtl .top-nav {
    background-color: #5815C7 !important;
    color: #fff;
}

.rtl .main-nav {
    /*background:linear-gradient(to right,#A81519,#CE7B7D ,#FFF);*/
    background-color: #000;
    color: #FFF;
}

/*.rtl .main-nav .members-area a {color:#FFF !important}*/
.rtl .main-nav button.btn.btn-search {
    color: #000
}


/* Edit H2*/

.rtl .section-title h2::before {
    content: "";
    width: 15px;
    height: 100%;
    position: absolute;
    background-color: #5815C7;
    left: -7px;
    top: 0;
    transform: skew(-15deg, 0deg);
}

.rtl .section-title h2::after {
    content: "";
    width: 15px;
    height: 100%;
    position: absolute;
    background-color: #5815C7;
    left: -30px;
    top: 0;
    transform: skew(-15deg, 0deg);
}
main-sections-content{
background-color: #5815c7;
}
/* English  LTR*/
/* Header */
div#accordion1 {
    display: none
}

li.nav-item.dropdown.dektop-only {
    cursor: pointer
}

.ltr .top-nav {
    background-color: #5815C7 !important;
    color: #FFF;
}

.ltr .main-nav {
    /*background:linear-gradient(to left,#A81519,#CE7B7D ,#FFF);*/
    background-color: #FFF;
    color: #555;
}

/*.ltr .main-nav .members-area a {color:#FFF !important}*/
.ltr .main-nav button.btn.btn-search {
    color: #FFF
}

/*Edit H2*/

.ltr .section-title h2::before {
    content: "";
    width: 15px;
    height: 100%;
    position: absolute;
    background-color: #5815C7;
    right: -7px;
    top: 0;
    transform: skew(15deg, 0deg);
}

.ltr .section-title h2::after {
    content: "";
    width: 15px;
    height: 100%;
    position: absolute;
    background-color: #5815C7;
    right: -30px;
    top: 0;
    transform: skew(15deg, 0deg);
}

/* Main */
/* Navigation */
#alertNotification {
    background-color: #636566
}

/* Body */
body {
    background-color: #000
}

/* Header */
.top-nav a.dropdown-item.select-language:hover {
    color: #9E6DEB !important
}

.top-nav .dropdown-menu.show {
    background-color: #5815C7 !important
}

.top-nav .dropdown-menu.show:hover {
    background-color: #9E6DEB !important
}

a.dropdown-item.select-country {
    background-color: #5815C7 !important;
}

a.dropdown-item.select-country span {
    color: #fff !important
}

.main-nav ul.dropdown-menu li:hover {
    background-color: #9E6DEB
}

.main-nav .input-group-append button:hover {
    background-color: #9E6DEB
}

.main-nav i.fas.fa-shopping-basket:hover {
    color: #9E6DEB
}

.main-nav .members-area a:hover {
    color: #9E6DEB !important
}

#navbar_top {
    box-shadow: rgb(52 52 52 / 16%) 0px 10px 36px 0px, rgb(251 251 251 / 6%) 0px 0px 0px 1px;
}

#sticky-mobile {
    box-shadow: rgb(52 52 52 / 16%) 0px 10px 36px 0px, rgb(251 251 251 / 6%) 0px 0px 0px 1px;
}

/* Banner */
.home-slider-item {
    border: 1px solid #5815C7;
    border-radius: 8px;
}

/* Section */
.loadmore a {
    background-color: #FFF;
    color: #5815C7;
    border-color: #CCC;
}

.loadmore a:hover {
    background-color: #5815C7;
    color: #FFF;
}

section h2,
section h2 a {
    color: #5815C7 !important;
    font-weight: bold;
}

/* Products */
.product-card-wrapper {
    border: 1px solid #CCC;
    padding: 5px;
}
.top-slider .container{
    max
}
/* Testomonial */
.testimonial-item {
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgb(52 52 52 / 16%) 0px 10px 36px 0px, rgb(251 251 251 / 6%) 0px 0px 0px 1px;
    color: #FFF;
}

.testimonial:after {
    background-color: #000
}

.testimonial-item p {
    margin-top: 1rem !important;
    margin-bottom: 0;
}

.testimonial-item::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: #2858a7;
    top: 0;
    background-color: #5815C7;
}



/* Footer */
footer * {
    color: #FFF !important;
}

.copyrights {
    background-color: #000 !important;
}

.copyrights-text {
    display: none;
}

footer h5:after {
    top: 100%
}

footer h5 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff !important;
    font-size: 25px;
}

/*.footer-img img:not(:last-child){margin-left:15px !important}*/
.footer-img img {
    margin: 8px 13px !important
}

footer {
    background-color: #5815C7 !important;
    box-shadow: rgb(52 52 52 / 16%) 0px 10px 36px 0px, rgb(251 251 251 / 6%) 0px 0px 0px 1px;
    margin-top: 40px;
    color: #FFF !important;
}

.copyrights {
    background-color: #636566;
}

.copyrights p,
.copyrights span {
    font-size: 20px;
    color: #FFF !important;
    font-weight: normal !important;
}

/*--------------------------------------------*/
.category-item h3 {
    color: #fff !important;
}

.category-item.more-categories a {
    color: #fff !important;
}

/* MoBile */

@media (max-width:992px) {

    /* Arabic */
    /* Header */
    .rtl .navbar {
        /*background:linear-gradient(to right,#A81519,#FFF);*/
        background-color: #FFF;
        color: #555;
        height: 155px;
    }

    .rtl .navbar form.input-group {
        border: 1px solid #626465;
        border-left: 2px solid #626465
    }

    .rtl #sticky-mobile.fixed-top {
        background-color: #FFF
    }

    /* English */
    /* Header */
    .ltr .navbar {
        /*background:linear-gradient(to left,#A81519,#FFF);*/
        background-color: #FFF;
        color: #555;
        height: 155px;
    }

    .ltr .navbar form.input-group {
        border: 1px solid #626465;
    }

    .ltr #sticky-mobile.fixed-top {
        background-color: #FFF
    }


    /* Main */
    .navbar-brand img {
        width: 100px;
        height: 100px
    }

    .navbar .search-group .btn:hover {
        background-color: #9E6DEB
    }

    .navbar a.btn.btn-demo.cart-toggle-btn:hover {
        color: #9E6DEB
    }

    .dropdown-menu li a:hover {
        background-color: #9E6DEB !important
    }

    .main-nav .nav-item.dropdown .nav-link {
        background-color: #5815C7 !important;
        color: #FFF !important;
        text-indent: 8px;
    }

    .main-nav .nav-item.dropdown .nav-link:hover {
        color: #9E6DEB !important
    }

    .navbar-nav .nav-item {
        margin-right: 0 !important
    }

    .top-nav .navbar-nav .nav-item .dropdown button {
        color: #FFF !important
    }

    .top-nav .navbar-nav .nav-item .dropdown button:hover {
        color: #9E6DEB !important
    }

    .members-area {
        background-color: #5815C7
    }

    /* Menu */
    #slide-navbar-collapse {
        background-color: #FFF
    }
}
.slick-control {
  position: absolute;
  top: 50%;
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px #00000021;
  cursor: pointer;
}

.top-nav *:not(i), .main-nav *:not(i , .btn-search) {
    color: #5815C7 !important;
}

@media (max-width:992px) {
    #slide-navbar-collapse a {
        color: #FFF !important;
    }
}

@media (max-width:566px) {
    button.btn.btn-primary {
        margin: auto !important
    }
}




/* Product Page */
@media (min-width:992px) {
    .zoomWindowContainer .zoomWindow {
        height: 360px !important
    }

    .zoomContainer {
        height: 360px !important;
        z-index: 8
    }

    .slick-slideshow__slide.product-image {
        border: 1px solid #CCC
    }


}

@media (max-width:992px) {
    .zoomContainer {
        height: 242.234px !important;
    }

    .zoomWindow {
        height: 242.234px !important
    }

    .product-details-slider .slick-control.next {
        left: 5px !important
    }

    .slick-slideshow__slide.product-image {
        border: 1px solid #CCC
    }
}



/*New Edit*/

/*Delete Dark Mode on Banner */

.home-slider-item:after {
    display: none;
}

/*Edit H2 Color and BG*/

.section-title h2 a,
.section-title h2 {
    background-color: #5815C7;
    color: #FFF !important;
    padding: 5px 20px;
    display: inline-block;
}


/* Edit Add more Buttun*/

.loadmore a {
    border-radius: 30px;
    border: 1px solid #CCC;
}

/* Edit On Banner */

.home-slider-item {
    background-size: 100% 100%;
}


/*Edit New*/
html[lang="en"] footer {
    font-size: 18px !important;
}

section.shop_section.layout_padding {
    margin-top: 30px;
}

footer .row .col-lg-2.col-md-6.col-sm-6:nth-of-type(3) {
    display: none;
}

footer .row .col-lg-2 {
    flex: 0 0 25%;
    max-width: 25%;
}

#navbar_top .navbar .dropdown-toggle,
.navbar .dropdown-menu a {
    display: block;
    width: 100%;
}

a.navbar-brand.hide-mobile {
    padding: 0;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.zoomContainer {
    display: none;
}

.copyrights p,
.copyrights span {
    font-weight: bold;
    font-size: 20px;
    color: #111
}












/************ِAhmed hamdi Edit*****************/


.main-sections-content{
 background-color: #fff!important;   
}
.main-nav {
  background-color: #330a79!important; 
  color: #FFF;
}
.rtl .main-nav {
  background-color: #330a79 !important; 
  color: #FFF;
}

#navbar_top {
  box-shadow: rgba(88, 21, 199, 0.4) 0px 10px 36px 0px, rgba(191, 190, 190, 0.41) 0px 0px 0px 1px!important; 
}
.testimonial-item {
  background-color: #330a79!important; 
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px!important; 
  color: #FFF;
}

.testimonial::after {
  background-color: #fff!important; 
}

.copyrights {
  background-color: #330a79 !important;
}

body {
  --primary_color: #5815c7!important;
  --primary_text_color: #ffffff!important;
  --header-primary-color: #181616!important;
  --footer-primary-color: #fff!important;
}


.category-item h3 {
  color: #330a79 !important;
}
.category-item.more-categories a {
  color: #6c2fd4 !important;
}
.card-price{
position: absolute!important;
top: 0!important;
left: 0!important;
background-color: #12bb3c!important;
color: #fff!important;
padding: 1px 55px!important;
transform: translate(-53px ,15px) rotate(-32deg)!important;
}
.product-card-wrapper {
  border: 1px solid #330A79 !important;
  padding: 5px;
  border-radius: 20px;
  box-shadow: rgba(193, 198, 202, 0.2) 7px 6px 16px !important;
  padding: 0!important;
  position: relative !important;
  overflow: hidden!important;
  transition: 0.5s !important;
}
.card{
    border-radius: 20px!important;
}

.card-img-top {
    border-radius: 18px 18px 0 0!important;
}
.card-body {
  padding: 10px !important;
}
.card .btn-primary"{
  width: 100%!important;
  margin: 10px!important;
}


.product-card-wrapper:hover{
    transform: translate(10px, -14px)!important;
    box-shadow: rgba(193, 198, 202, 0.45) 7px 6px 18px !important;
}

.loadmore a {
    transition: 0.8s!important;
}












